<table class="table table-info table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
           
        </tr>
    </thead>
    <tbody>

        <% for(var i=0; i < results.length; i++) { %>
        <tr>
            <td><%= results[i].ID %> </td>
            <td><%= results[i].nombre %> </td>
            <td><%= results[i].correo %> </td>
        </tr>
        <% } %>

    </tbody>
</table>