<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<section id="sec-inicio">
    <br>

    <p id="Iniciox"> ~ INICIO ~</p>
</section>


<div id="Inicio">

    <div id="leftbox">
        <button id="btnizquierda"><img src="./fotos/fleshitashover1.png" id="fleshitaxd"></button>
    </div>

    <div id="middlebox">
        <div class="slider" id="slider">
            <div class="sliderS"><img src="./fotos/todos-unidos.png" alt="carrusel" class="sliderImg">
            </div>

            <div class="sliderS"><img src="./fotos/UA-Building.png" alt="carrusel" class="sliderImg">
            </div>

            <div class="sliderS"><img src="./fotos/1-ABuilding.jpg" alt="carrusel" class="sliderImg">
            </div>

            <div class="sliderS"><img src="./fotos/chilling-time.jpg" alt="carrusel" class="sliderImg">
            </div>

            <div class="sliderS"><img src="./fotos/Building-2.jpg" alt="carrusel" class="sliderImg">
            </div>
        </div>
    </div>
    <div id="rightbox">
        <button id="btnderecha"> <img src="./fotos/fleshitashover1jj.png" id="fleshita2" alt=""> </button>
    </div>
</div>

</div>
    <div id="about"><p>~ SOBRE NOSOTROS ~</p></div>
<section id="sec-sobrenosotros">
</section>
<div class="about">
<div class="containerxd">
    <div class="imga">
        <div class="imgwrapper8">
        <img class="Kirishima" src="./fotos/Kirishima.png" alt="latest">
        <div class="hoverimg8">
            <div class="text8">
                <ul>
                    Visión
                    <li>Queremos seguir desarrollando un proyecto educativo innovador que, atendiendo especialmente a la educación en valores, permita a nuestros alumnos y alumnas alcanzar unos altos niveles académicos, adquirir una sólida preparación en inglés y profundice en el modelo metodológico.</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <!-- BADBUNNY IMG -->
    <div class="imga">
        <div class="imgwrapper">
        <img class="Tokoyami" src="./fotos/Deku.png" alt="">
    <div class="hoverimg">
        <div class="text">
            <ul>
                Misión:
                <li>En un marco afectivo de confianza y seguridad, formar personas sanas, libres, críticas, respetuosas, responsables y capaces de diseñar su propio destino.</li>
                
               
            </ul>
        </div>
    </div>
    </div>
    </div>

    <div class="imga">
    <div class="imgwrapper3">
        <img class="Deku" src="./fotos/Tokoyami.png" alt="">
        <div class="hoverimg3">
            <div class="text3">
                <ul>
                    Valores:
                    <li>El respeto a las personas sin distinción de raza, sexo, ideología y credo.
                    </li>
                    <li>Fomentar la responsabilidad frente al grupo y la tolerancia
                    </li>
                    <li>Desarrollar en nuestros alumnos la autoconfianza.</li>
                    <li>Fomentar la educación formal y los hábitos sociales y de convivencia adecuados.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>


</div>

<div class="menu">
    <section id="sec-proyectos">
</div>

<br><br><br>

<p id="Proyectox">~ COMING SOON ~</p>
</section>

<div id="Proyecto">

    <div id="boxmiddle">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q8bmv-14OVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>

<section id="sec-mercancia">
    <p id="melcancia">~ MERCANCÍA ~</p>
</section>

<div class="mercancia">
    <div class="merc"><img src="./fotos/mercancía1.jpg" class="xd">
        <div class="txt">
            <p>200$</p>
        </div>
        <div class="wao"><button>COMPRAR</button></div></div>
    <div class="merc"><img src="./fotos/mercancía3.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div></div>
    <div class="merc"><img src="./fotos/mercancía4.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div>button></div>
    <div class="merc"><img src="./fotos/mercancía5.jpg" class="xd">
    <div class="wao"><div class="wao"><button>COMPRAR</button></div></div>
    </div>
    <div class="merc"><img src="./fotos/mercancía6.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div></div>
</div>

<div class="mercancia2">
    <div class="merc"><img src="./fotos/mercancía7.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div></div>
    <div class="merc"><img src="./fotos/mercancía8.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div></div>
    <div class="merc"><img src="./fotos/mercancía9.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div></div>
    <div class="merc"><img src="./fotos/mercancía10.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div></div>
    <div class="merc"><img src="./fotos/mercancía11.jpg" class="xd"><div class="wao"><button>COMPRAR</button></div></div>
</div>

<script src="./scripts/up.js"></script>