
<div id="anuncio">
    <img src="./fotos/publicidad1.gif" alt="">
    </div>
<label class="loguiviris"><img src="./fotos/logo.png" id="lolx"></label>
<br><br>


    <h1><div class="flow">Formulario de sugerencias</div></h1>
        <br>
        
             <form action="/users" method="POST"> 
    
             <label for="username">Nombre:</label>
             <input  type="text" name="nombre" id="username" placeholder="Su nombre..." required>
    
             <br><br>
    
             <label>Apellido:
                <input type="text" name="apellido" id="apellidou" required placeholder="Su apellido...">
             </label>
    
             <br><br>
    
             <label for="mail">Correo:</label>
             <input type="email" name="mail" id="mail" placeholder="Su correo..." required>
    
            
    
        <br><br>
    
    Sexo: <br>
    <label for="Hombre">Hombre</label>
    <input type="radio" name="sexo" id="Hombre" value="Hombre" required>
    
    <label for="Mujer">Mujer</label>
    <input type="radio" name="sexo" id="Mujer" value="Mujer" required>
    
    <br><br>
    
    <label for="Descripci贸n">Descripci贸n:</label> <br>
    <textarea name="descripcion" id="Descripci贸n" cols="30" rows="10" placeholder="Coloque su opini贸n..."></textarea>
    <br>
    
    <br><br>
    
    <input type="reset" value="Limpiar">
    
    <input type="submit" value="Enviar">

    <a href="/"><input type="button" value="volver" ></a>

    
</form>


