
            <div class="footer">
                
                    
                        <label class="loguiviris"><img src="./fotos/logo.png" id="lolfooter"></label>
                    
                
                <div class="alineamiento2">
                    <div class="Ingratam">
                        Contáctanos al 809-463-3339 <p>para más información.</p> 
                    </div>
                </div>
                <div class="alineamiento2">
                    <div class="feisbuk" id="feish">
                        Escribenos para responder tus dudas <p>al bocunoakademia@gmail.com</p>
                    </div>
                </div>
                <div class="alineamiento2">
                    <ul>
                        <li><a class="active" href="/contacto">Sugerencias</a></li>
                    </ul>
                          
                </div> 
                <div  class="alineamiento2">
                    <audio src="./fotos/audioweb.mp3" controls></audio>
                       </div> 
                </div>

                
            </div>
