<div class="header">
    <nav class="navegeishion">
        <input type="checkbox"  id="check">
        <label for="check" class="checkbtn">
       
        </label>
        <label class="loguiviris"><img src="./fotos/logo.png" id="lolx"></label>
        <ul>
            <li><a class="active" href="#sec-inicio">Inicio</a></li>
            <li><a href="#sec-sobrenosotros">Sobre Nosotros</a></li>
            <li><a href="#sec-proyectos">Coming soon</a></li>
            <li><a href="#sec-mercancia">Mercancía</a></li>
        </ul>
    </nav>
</div>