* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url("../fotos/backgroundC.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.anuncio {

    position: absolute;
    margin: 4%;
}

.anuncio img {
    width: 100%;
    object-fit: cover;
}


#lolx {
    height: 80px;
    width: 18%;
    margin-left: 41%;
    clear: both;
}

.flow {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 4.9%;
    clear: both;
}