*{
    margin: 0;
    padding: 0;
 } 

@font-face {
    font-family: 'Folks';
    src: url(../fonts/Folks-Normal.ttf) format("opentype");
}

 @font-face 
 {
     font-family: 'Caramel';
     src: url(../fonts/Caramel\ Sweets.ttf) format("opentype");
 }
 html
 {
     scroll-behavior: smooth;
 }

 #myBtn 
 {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: red;
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
}
  
#myBtn:hover 
{
    background-color: #555;
}

#lolx
{
    height: 80px;
    width: 18%;
}

.header
{
    position: sticky;
    z-index: 1; 
}

.navegeishion
{
    position: fixed;
    background: #52B788;
    height: 80px;
    width: 100%;  
}

label.loguiviris
{
    color:#fff;
    font-size: 35px;
}

.navegeishion ul
{
    float: right;
}

.navegeishion ul li
{
    display: inline-block;
    line-height: 80px;
}

.navegeishion ul li a
{
    color: white;
    font-size: 17px;
    padding: 7px 50px;
    border-radius: 3px;
    text-transform: uppercase;
}

.navegeishion ul button
{
    background-color: transparent;
    border: none;
}

.navegeishion a:hover
{
    color: #4582B4;
    transition: .5s;
}

#check
{
    display: none;
}



/*Sección de Inicio*/

#Iniciox
{
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 30px;
    font-family: 'Caramel';
}

#inicio
{
    height: 1000px;
    width: 20%;
}

#leftbox 
{
    float:left; 
    background: #B7E4C7;
    width:25%;
    height:350px;
}

#leftbox button
{
    margin-left: 18%;
    margin-top: 37%; 
    width: 25%;
    height: 50px;
    border: none;
    background-color: transparent;
    background-image:url('../fotos/fleshitasxd.png');
    background-size: 53%;
    background-position: center;
    background-repeat:no-repeat ;
}

#middlebox
{
    float:left; 
    background:Green;
    width:50%;
    height:350px;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 5%;
}

.slider 
{
    width: 500%;
    display: flex;
    height: 100px;
    margin-left: -100%;
}

.sliderS 
{
    width: 100%;
}


.sliderImg 
{

    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;

}

#rightbox
{
    float:right;
    background: #B7E4C7;
    width:25%;
    height:350px;
}

#rightbox button
{
    margin-left: 52%;
    margin-top: 35%;
    width: 25%;
    height: 50px;
    border: none;
    background-color: transparent;
    background-image:url('../fotos/fleshitasxdd.png');
    background-size: 53%;
    background-position: center;
    background-repeat:no-repeat ;
}


#fleshita2
{
    width: 50%;
    height: 50px;
    visibility: hidden;
}

#fleshitaxd
{
    width: 50%;
    height: 50px;
    visibility: hidden;
}

#rightbox button:hover  #fleshita2
{
    visibility: visible;
}
#leftbox button:hover  #fleshitaxd
{
    visibility: visible;
}


/*Sección Coming Soon*/
#about
{
    text-align: center;
    font-size: 30px;
    font-family: 'Caramel';
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    
}


.about
{
    background-color: #B7E4C7;
    height: 380px;
}

.imga
{
    margin: 2px;
    display:inline-block;
    width: 320px;
    margin-bottom: 0.5%;
    padding-left: 3%;
}

.containerxd
{
    padding-top: 2.5%;
    text-align: center;
}

/* COMING SOON */

.Kirishima
{
    width: 850px;
    height: 300px;
    display:inline-block;
}

.Tokoyami
{
    width: 850px;
    height: 300px;
    display:inline-block;
}

.Deku
{
    width: 300px;
    height: 300px;
    display:inline-block;
}

.containerimg2
{
    background-color: #FAD04F;
    padding-left: 2%;
    padding-bottom: 1%;
}

.imga2
{
    margin: 2px;
    display:inline-block;
    width: 320px;
    backface-visibility: hidden;
}

.imgwrapper8
{
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
  
}

.text3
{
    text-align: justify;
    font-size: 15px;
    font-family: 'Folks';
}

.text3 ul
{
    padding-top: 10%;
    padding-right: 10%;
}

.text8
{
    text-align: justify;
    font-size: 15px;
    font-family: 'Folks';
}

.text8 ul
{
    padding-top: 10%;
    padding-right: 10%;
}

.text
{
    text-align: justify;
    font-size: 15px;
    font-family: 'Folks';
}

.text ul
{
    padding-top: 10%;
    padding-right: 20%;
}

.imgwrapper 
{
    display: flex;
    width: 100%;
    background-color: white;
}

 .imgwrapper3 
{
    display: flex;
    width: 100%;
    background-color: white;
}

/*Sección Proyectos*/

#Proyectox
{
    text-align: center;
    font-size: 30px;
    font-family: 'Caramel';
}
#Proyecto
{
    padding-bottom: 7%;
}

iframe
{
    width: 815px; 
    height: 380px; 
}


#boxmiddle
{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    float:left; 
    background:Green;
    width:60%;
    height:380px;
    text-align: center;
    vertical-align: center;
    margin-left: 21%;
}

#boxmiddle2
{
    margin-left: 110%;
    background: rgb(0, 0, 0);
    margin-top: 40%;
}



/*Sección Mercancía*/

#melcancia
{
    margin-bottom: 3%;
    margin-top: 26%;
    text-align: center;
    font-size: 30px;
    font-family: 'Caramel';
}

.merc
{
    padding: 2%;
    display:inline-block;
    width: 150px;
    text-align: center;
    margin-bottom: 3%;
    
}

.xd
{
    padding: 5px 10px 5px 10px;
    display:inline-block;
    width: 180px;
    text-align: center;
    margin-bottom: 5%;
    height: 300px;
    object-fit: cover;
}
.wao{
    margin-left: 15%;

}
.wao button
{
    background: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border: 3px solid #000;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}
.wao button:hover{
    color:#fff;
    background: #000;
    transition: 0.5s;
    font-weight: bold;
    font-size: 18px;
    border: none;
}
.mercancia 
{
   text-align: center;  
   background-color: black;
}

.mercancia2 
{
    text-align: center;
    background-color: rgb(0, 0, 0);
}

/*Footer*/

.footer 
{
    width: 100%;
    background: #52B788;
    margin-top: 6%;
    height: 100px;
    
}


.alineamiento
{
    display: inline-block;
    text-align: center;
    
}

#lolfooter
{
    height: 80px;
    width: 16%;
    margin-right: 10%;
    float: left;
}

.Ingratam
{
    margin-top: 20%;
}

.alineamiento2
{
    clear: both;
    display: inline-block;
    margin-left: 3%;
}


